{% extends "home" %}

{% block title %} Discover {% endblock title %}


{% block content %}
<div class="flex gap-6 bg-white rounded-xl p-4 text-center items-center shadow-sm" x-data="{
     update(){
         let genre = $refs.genreSelect.value;
         let popularity = $refs.popularitySelect.value;
         let swiper = $data.swiper;

         swiper.slideTo(0, 0, false);
         htmx.ajax('GET', '/discover?genre=' + genre + '&popularity=' + popularity + '&ref=true', { target: '#swipeWrapper', swap: 'innerHTML'});
         swiper.update();
     }
     }">
    <label for="genreSelect" class="text-slate-700">Genre: </label>
    <select name="genres" id="genreSelect" class="bg-slate-200 rounded-md p-1 text-blue-500 shadow-md"
            x-ref="genreSelect"
            x-init="$nextTick(() => $el.value = '{{ selectedGenre }}')"
            @change="update()">
        {% for genre in genres %}
        <option value="{{ genre }}"> {{ genre }} </option>
        {% endfor %}
    </select>


    <label for="popularitySelect" class="text-slate-700">Popularity: </label>
    <select name="popularity" id="popularitySelect" class="bg-slate-200 rounded-md p-1 text-blue-500 shadow-md"
            x-ref="popularitySelect"
            x-init="$nextTick(() => $el.value = '{{ selectedPopularity }}')"
            @change="update()">
        <option value="all">all</option>
        <option value="high">high</option>
        <option value="medium">medium</option>
        <option value="low">low</option>
    </select>
</div>
<div class="swiper carousel h-3/6 w-6/12 max-h-[416px] max-w-md min-w-[340px] relative" id="carousel">
    <div class="swiper-wrapper h-full w-full" id="swipeWrapper" x-data="
{
    fetching: false,
    init(){
        $data.swiper = new Swiper('.carousel', {
            effect: 'cards',
            grabCursor: true
        });

        $data.swiper.on('transitionEnd', function() {
            let index = this.realIndex;
            let length = this.slides.length;
            let previous = this.previousIndex;

            this.slides[previous].querySelector('audio').pause();
            this.slides[index].querySelector('audio').play();

            if(length - index < 8 && !this.fetching){
                this.fetching = true

                let genre = document.getElementById('genreSelect').value;
                let popularity = document.getElementById('popularitySelect').value;

                let ajax = htmx.ajax('GET', '/discover?genre=' + genre + '&popularity=' + popularity  + '&ret=true', { target: '#swipeWrapper', swap: 'beforeend' });
                if(typeof ajax !== 'undefined'){
                    ajax.then(() => this.fetching = false)
                }
            }
        });
    }
}
">
        {% include "carousel" %}
    </div>
</div>

{% endblock content %}


