{% extends "home" %}

{% block title %} Discover {% endblock title %}


{% block content %}

<div class="flex gap-6 bg-white rounded-xl p-4 text-center items-center shadow-sm">
<label for="genres">Genre: </label>
<select name="genres" id="genres" class="bg-slate-200 rounded-md p-1 text-blue-500 shadow-md text-slate-700">
    <option value="all">all</option>
    {% for genre in genres %}
    <option value="{{ genre }} "> {{ genre }} </option>
    {% endfor %}
</select>

<label for="popularity">Popularity: </label>
<select name="popularity" id="popularity" class="bg-slate-200 rounded-md p-1 text-blue-500 shadow-md text-slate-700">
    <option value="all">all</option>
    <option value="high">high</option>
    <option value="medium">medium</option>
    <option value="low">low</option>
</select>
</div>

<div class="swiper carousel h-3/6 w-6/12 max-h-[416px] max-w-md min-w-[340px] relative" id="carousel">
<div class="swiper-wrapper h-full w-full" id="swipeWrapper" x-data="
{
    swiper: null, 
    fetching: false, 
    init(){
        this.swiper = new Swiper('.carousel', {
            effect: 'cards', 
            grabCursor: true
        });

        this.swiper.on('transitionEnd', function() {
            let index = this.realIndex;
            let length = this.slides.length;
            let previous = this.previousIndex;

            this.slides[previous].querySelector('audio').pause();
            this.slides[index].querySelector('audio').play();

            if(length - index < 8 && !this.fetching){
                this.fetching = true
                let ajax = htmx.ajax('GET', '/discover', { target: '#swipeWrapper', swap: 'beforeend' });
                if(typeof ajax !== 'undefined'){
                    ajax.then(() => this.fetching = false)
                }
            }
        });
    }
}
">
{% include "carousel" %}
</div>
</div>

{% endblock content %}


