{% extends "home" %}

{% block title %}Forgot Password{% endblock title %}

{% block content %}

<div class="px-8 sm:px-24 py-6 mt-4 text-left bg-white shadow-lg rounded-xl" {% if mailSent %} x-init="alert('Please check your email!')" {% endif %}>
    <h3 class="text-2xl font-bold text-center">Forgot Password</h3>
    <form action="/forgot_password" method="post">
        <div class="mt-6">
            <div>
                <label class="block" for="email">Email<label>
                    <input required minlength="2" maxlength="40" type="text" id="email" name="email" placeholder="Email"
                           class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
            </div>
            <div class="flex items-baseline justify-between mt-4">
                <button class="px-6 py-2 mt-4 text-white bg-blue-500 rounded-lg hover:bg-blue-700 font-bold">Send</button>
            </div>
            <input type="hidden" name="{{ token.getParameterName() }}" value="{{ token.getToken() }}"/>
        </div>
    </form>
</div>

{% endblock content %}