<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Home {% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
  </head>

  <body class="h-[calc(100vh_-_66px)] bg-slate-900" x-data>
    {% include "nav" %}

    <script src="//unpkg.com/alpinejs" defer></script>
    <script
      src="https://unpkg.com/htmx.org@1.7.0"
      integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo"
      crossorigin="anonymous"
      defer
    ></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/foobar404/wave.js/dist/bundle.js"></script>


    <canvas class="fixed top-0 left-0 h-screen w-screen pointer-events-none z-0" x-ref="canvas">
    </canvas>
    <main class="h-full w-full pb-48 flex items-center flex-col justify-center gap-12" id="main" x-data="{ swiper: null }" >
    {% block content %} {% endblock content %}
    </main>
     </body>
</html>
