<nav class="flex justify-between items-center h-12 border px-2 py-8 sticky top-0
     bg-white">
    <h1 class="font-medium text-2xl">spotfinder</h1>
    <ul>
        {% if userName %}
        <li>
        <h2 class="font-medium text-md px-4">{{ userName }}</h2>
        </li>
        {% else %}
        <li><a href="{{ href('/login') }}" class="bg-blue-500 hover:bg-blue-700 text-white
                font-bold py-2 px-4 rounded transition-colors duration-150">Login</a></li>

        {% endif %}
    </ul>
</nav>